<DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Sign Up</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1>Waves</h1>
  
  <div class="create-account-form">
    <h4>Create a new account with Waves</h4>
  <form action="/auth/sign-up" method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required />
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required />
    <label for="confirmPassword">Confirm Password:</label>
    <input 
      type="password"
      name="confirmPassword"
      id="confirmPassword"
      required />
      <label for="picture">Picture URL:</label>
      <input type="text" id="picture" name="picture">
      <label for="bio">Bio:</label>
      <textarea id="bio" name="bio"></textarea>
    <button type="submit">Sign up</button>
  </form>
</div>
</body>
</html>
