
<nav>
  <link rel="stylesheet" href="/stylesheets/partials.css" />
  <% if(user) { %>
      <a class="waves-link" href="/users/<%=user._id%>/waves">My Waves</a>
      <a class="explore-link" href="/users/index">Explore Profiles</a>
      <a class="profile-link" href="/profiles/<%= user._id %>">My Profile</a>
      <a class="signout-link" href="/auth/sign-out">Sign Out</a>
  <% } else { %>
  <div class="auth-links">
      <a class="singin-link" href="/auth/sign-in">Sign In</a>
      <a class="signup-link" href="/auth/sign-up">Sign Up</a>
      <a class="home-link" href="/">Home</a>
  </div>
  <% } %>
</nav>