<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Waves</title>
  </head>
  <body class="index-body">
    <%- include('./partials/_navbar.ejs') %>
    <div class="index-container">
      <div class="text-container">
        <h1 class="main-header">Waves</h1>
        <p class="subheader">Add Waves to your profile, check out other surfer's waves!</p>
      </div>
      <% if (user) { %>
        <h2>Welcome to Waves <%= user.username %>!</h2>
        <p>
        </p>
        <% } else { %>
        <h2>Welcome, let's get started!</h2>
      <div class="auth-links">
        <a class="signup-link" href="/auth/sign-up">Get Started</a>
        <% } %>
      </div>
    </div>
  
  </body>
</html>
