@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Sarina&display=swap');


nav {
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    z-index: 100;
    padding: 0;
    margin: 0;
}
  
nav a {
    color: rgb(242, 241, 245);
    width: 100%;
    text-decoration: none;
    font-size: 1.5rem;
    margin-right: 20px;
    transition: color 0.3s ease;
}
  
nav a:hover {
    color: #ff7f50;
}
  

.waves-body {
    font-family: 'Lato', sans-serif;
    background-image: url('https://cdn.pixabay.com/photo/2022/11/11/01/46/headland-7584031_1280.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
    padding-top: 200px; 
}
  
.index-container {
    background: rgba(72, 119, 190, 0.7); 
    padding: 10px;
    border-radius: 14px;
    max-width: 900px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    z-index: 1;
    height: 63%;
}
  
.show-header {
    width: 100%;
    padding-top: 0;
}
  
.waves-header {
    font-family: 'Sarina', sans-serif;
    font-size: 4.5rem;
    color: #f3f0ef;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

.wave-info {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    margin-bottom: 0;
}
  
.show-actions {
    margin-top: auto;
    display: flex;
    gap: 50px;
    justify-content: center;
    position: relative;
    padding-top: 28px;
}
  
.show-actions a,
.show-actions button {
    font-size: 1.2rem;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #0941ea; 
    color: white;
    border-radius: 25px;
    font-weight: 700;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
}
  
.show-actions a:hover,
.show-actions button:hover {
    background-color: #0b0a55; 
    cursor: pointer;
}
  
.show-actions form {
    display: inline-block;
    margin: 0;
}
  
.show-notes {
    margin-top: 0px;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.show-notes h2 {
    font-size: 2rem;
    color: #d73e07;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.show-notes p {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.show-details p {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

 