<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/user.css" />
    <title>Other users</title>
</head>
<body class="users-container">
  <%- include('../partials/_navbar.ejs') %>
  <h1 class="users-header">Surfer Profiles</h1>

    <div class="users-list">
    <ul>
    <% users.forEach(user => { %>
        <li class="user-show">
        <a href="/profiles/<%= user._id %>"><%= user.username %></a>
        </li>
    <% }); %>
    </ul>

    </div>
  </body>
</html>